body{
font-family: Arial;
margin:0;
background:#f5f5f5;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#222;
color:white;
padding:15px 40px;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
}

.banner{
background:url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");
background-size:cover;
background-position:center;
color:white;
text-align:center;
padding:180px 20px;
}

.title{
text-align:center;
margin-top:60px;
font-size:32px;
font-weight:bold;
}

.book-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:40px;
padding:40px 120px;
}

.book{
background:white;
border-radius:12px;
padding:20px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.12);
transition:0.3s;
}

.book:hover{
transform:translateY(-10px);
}

.book img{
width:100%;
height:300px;
object-fit:cover;
border-radius:8px;
}

button{
background:#ff6b00;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
border-radius:5px;
}

.book-detail{
display:flex;
gap:50px;
padding:50px;
}

body{
background:#f3f4f6;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

.login-box{
width:300px;
margin:100px auto;
background:white;
padding:30px;
text-align:center;
}